.authorization {
    background: url(/public/img/Authorization.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.authorization-container {
    width: 100vh;
    height: calc(100vh - 21px) ;
}

.custom-radio_desc {
    margin-top: 15px;
    position: relative;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio:checked+label::before {
    text-align: center;
    color: #D58C51;
    border-radius: 50%;
    content: '●';
    font-size: 27px;
}
.custom-radio_label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 28px;

}
.custom-radio_label::before {
    position: relative;
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid #D58C51;
    border-radius: 50%;
    margin-right: 9px;
}


.authButton {
    margin: 0 auto;
    width: 200px;
    height: 42px;
    background: #D58C51;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: black;
}

.productButton {
    width: 200px;
    height: 42px;
    background: transparent;
    border: #D58C51 1px solid;
    color: #D58C51;
    cursor: pointer;
}

.authorization-form {
    display: none;
    width: 460px;
    height: 340px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.authorization-header {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 30px;
}

.authorization-form {
    display: flex;
    flex-direction: column;
    padding: 0px 45px 26px 34px;

}

.authorization-input {
    width: 90%;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #D58C51;
    border-radius: 61px;
    outline: none;
    padding-left: 40px;
}

.authorization-input::placeholder { font-size: 16px ;}



.custom-radio {
    cursor: pointer;
    position: relative;
    top: 3px;
    width: 18px;
    height: 18px;
    border: 1px solid #D58C51;
    margin-bottom: 30px;
}

.btn-reg {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: underline;
    background-color: inherit;
    color: #D58C51;
    font-size: 14px;
    cursor: pointer;
}

.error {
    color: #CB2424!important;
}

.error_class {
    display: none;
    position: relative;
    left: 40px;
    bottom: 15px;
    font-size: 10px;
}
.login_class {
    display: none;
    position: relative;
    left: 40px;
    bottom: 15px;
    font-size: 10px;
}

.error_class-auth {
    display: none;
    position: relative;
    bottom: 70px;
    left: 190px;
    font-size: 10px;
}

.auth-form {
    display: none;
}

  .reg-form {
    display: block;
}









