.basket_components {
    background: #161516;
    color: #fff;
}

.basket__favorites {
    height: calc(100vh - 197px);
    overflow-x: auto;
}

.basket__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket__preview {
    width: 122px;
    height: 122px;
    padding-top: 20px;
}

.basket__header_card {
    font-weight: 300;
    color: #D58C51;
}

.basket__price {
    position: relative;
    bottom: 9px;
    color: #D58C51;
}

.textButton {
    font-weight: 100;
    color: #D58C51;
    position: relative;
    bottom: 11px;
}

.basket__add {
    margin-left: 40px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #D58C51
}

.back {
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 10%;
    display: block;
    width: 100px;
    height: 40px;
    background-color: #D58C51;
    cursor: pointer;
}

.basket__button {
    position: relative;
    left: 400px;
}
