.container {
  width: 1300px;
  margin: 0 auto;
}

.main {
  position: relative;
  background: #161516;
  color: #fff;
  overflow-x: auto;
  height: 100vh;
}
.testing {
  height: 10vh;

}
.header {
  position: relative;
  top: 53px;
}

.menu {
  position: relative;
  top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  overflow-x: auto;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.menu .card {
  width: 260px;
}


