.PageProducts {
    background: url(/public/img/PageProducts.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.PageProducts_btn-back {
    position: relative;
}

.PageProducts_btn {
    position: absolute;
    right: 100px;
    top: 70px;
}

/* .PageProducts_MenuBox {
    position: relative;
} */

.PageProducts_BasketContent {
    position: absolute;
    right: 150px;
    top: 70px;
    width: 100%;
}

.PageProducts_container {
    width: 100vh;
    height: 100vh;
}

/* .PageProducts-header {
    position: absolute;
    width: 50%;
    height: 50%;
} */


